{{- $title := cond .IsHome .Site.Title .Title -}}
{{- $description := "" -}}
{{- with .Description -}}
  {{- $description = . -}}
{{- else -}}
  {{- with .Params.summary -}}
    {{- $description = . -}}
  {{- else -}}
    {{- with .Site.Params.tagline -}}
      {{- $description = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $type := "website" -}}
{{- if and .IsPage (eq .Section "posts") -}}
  {{- $type = "article" -}}
{{- end -}}

{{- /* Resolve image */ -}}
{{- $ogImage := "" -}}
{{- $ogImageRes := false -}}
{{- with .Params.images -}}
  {{- $ogImage = index . 0 | absURL -}}
{{- else -}}
  {{- with .Resources.GetMatch "thumbnail.*" -}}
    {{- $ogImageRes = . -}}
    {{- $ogImage = .Permalink -}}
  {{- else -}}
    {{- with $.Resources.GetMatch "og-image.*" -}}
      {{- $ogImageRes = . -}}
      {{- $ogImage = .Permalink -}}
    {{- else -}}
      {{- $ogImage = "/og-image.png" | absURL -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ $title }}">
{{ with $description }}<meta property="og:description" content="{{ . }}">{{ end }}
<meta property="og:type" content="{{ $type }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="{{ replace .Site.Language.Locale "-" "_" }}">
{{ range .Translations }}
<meta property="og:locale:alternate" content="{{ replace .Site.Language.Locale "-" "_" }}">
{{ end }}
<meta property="og:image" content="{{ $ogImage }}">
{{ with $ogImageRes }}{{ if gt .Width 0 }}
<meta property="og:image:width" content="{{ .Width }}">
<meta property="og:image:height" content="{{ .Height }}">
{{ end }}{{ end }}
{{ if eq $type "article" }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ end }}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
{{ with $description }}<meta name="twitter:description" content="{{ . }}">{{ end }}
<meta name="twitter:image" content="{{ $ogImage }}">
